.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  padding: 30px;
  background: #FFF;
  box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.10);

  h2 {
    margin: 0;
  }

  .container {
    flex: 1;
    overflow: auto;
  }

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }

  .cartItem {
    padding: 30px 20px 20px;
    border-radius: 20px;
    border: 1px solid #F3F3F3;
    overflow: hidden;

    .cartImage {
      width: 70px;
      height: 70px;
      margin-right: 20px;
      background-size: contain;
      background-position: 0 -3px;
      background-repeat: no-repeat;
    }

    .cartInfo {
      max-width: 176px;

      p {
        font-size: 16px;
        margin: 0 0 8px;
      }

      b {
        font-size: 14px;
      }
    }

    img {
      margin-top: 35px;
    }
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .price {

    p {
      margin: 0;
    }

    .dashedBorder {
      border: 1px dashed #DFDFDF;
      flex: 1;
      position: relative;
      top: -2px;
      align-self: flex-end;
      margin: 0 7px;
    }


  }

  .emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: auto;

    h3 {
      margin: 21px 0 9px;
      font-size: 22px;
      font-weight: 600;
    }

    p {
      margin: 0 0 16px;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
    }
  }

}