/* ======Миксины====== */
@import "mixins.scss";
/* ======/Миксины====== */

/* ======Шрифты====== */
@import "fonts.scss";
/* ======/Шрифты====== */

/* ======Переменные====== */
@import "variables.scss";

$font: Inter;
$dfont: 14px;

/* ======/Переменные====== */

/* ======Обнуление====== */
@import "null.scss";
/* ======/Обнуление====== */

#root {
  padding: 85px;

  @media (max-width: 1024px) {
    padding: 75px;
  }

  @media (max-width: 896px) {
    padding: 55px;
  }

  @media (max-width: 596px) {
    padding: 0px;
  }
}

body {
  font-family: $font;
  background-color: #e7f6ff;

  @media (max-width: 596px) {
    background-color: #ffffff;
  }
}
