/* ========SIZES======== */

$maxWidthContainer: 1190;

$md1: $maxWidthContainer + 12;
$md2: 992px;
$md3: 768px;
$md4: 576px;
$md5: 425px;

/* ========COLORS======== */

$dcolor: #fff;
$tcolor: #ccc;
$bgcolor: #f9f9f9;

/* ========FONT======== */

$dfont: 14px;
$tfont: 36px;

// Default Font

$font: Roboto;

// Default Weight Font

$wfont: 400;
